/*The images and content article used in this demo where borrowed from IKEA KLIPPLAN website*/
/*    
    "Don't watch the clock. Do what it does. Keep going."
                                            Sam Levenson
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    background-color: rgb(236, 235, 235);
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: rgb(43, 43, 43);
}

h4 {
    margin: 8px;
    color: red;
}

#nav {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

#nav span {
    margin: 15px;
}

#nav-wrapper {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#img-wrapper {
    width: 100%;
    max-width: 30px;
    height: auto;
}

#nav-bar ul{
    display: flex;
    list-style-type: none;
    margin: 0 0 0 30px;
}

#nav-bar li {
    margin: 0 55px 0 0;
}

/*form input setup*/

#form {
    border: 1px solid orangered;
    border-radius: 3px;
    padding: 1px;
    margin-right: 5px;
}

#form #email{
    background: none;
    border: none;
    outline-offset: none;
    outline-style: none;
}

#form #email:active {
    background-color: rgba(255, 68, 0, 0.425);
    border: 1px solid red;
}

#form #submit {
    background: orangered;
    border: 1px solid transparent;
    padding: 2px;
    border-radius: 3px;
}

/*form setup end*/

#main {
    margin-top: 60px;
    width: 100vw;
    height: auto;
    background-color: inherit;
}

#intro {
    padding: 35px;
    text-align: left;
    display: block;
    width: 100%;
    height: 100%;
}

#intro header {
    margin-top: 80px;
    font-weight: 400;
    text-align: center;
    font-size: 2em;
}

#intro ul {
    list-style-type: none;
    width: 70%;
    margin: 0 auto;
}

#intro li{
    color: black;
    margin-top: 25px;
    font-weight: 400;
    font-size: 1em;
}

#intro .strong {
    font-weight: 400;
    font-size: 2em;
    color: orangered;
}

.min-header{
    font-weight: 400;
    font-size: 1.3em;
    margin: 45px;
}

#video-wrapper iframe {
    margin-top: 50px;
    display: block;
    width: 100%;
    height: 100vh;
}

article {
    font-weight: 200;
    font-size: 1.1em;
    margin: 45px;
}

/*items setup section*/

#items-content {
    width: 100%;
    height: auto;
}

#items-content ul li{
    background-color: white;
    margin-top: 3px;
    display: flex;
    align-items: center;
    padding: 50px 90px 50px 0px;
    justify-content: left;
}

#items-content ul li span{
    padding: 50px;
    margin: 5px;
}

#items-content ul li span:nth-of-type(2){
    background-color: rgb(236, 235, 235);
}

#items-content img {
    max-width: 70%;
}

#items-content p {
    color: gray;
    margin-top: 6px;
}

#items-content span button{
    background-color: yellow;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    margin-top: 6px;
    cursor: pointer;
}

/*
media query for tablet screens **coming soon**

@media screen and(min-width: 510px) && (max-width: 650){

}*/

/*Media query for phablets and phone screens */

@media screen and (max-width: 510px){
    #nav {
        z-index: 10;
        display: block;
        min-width: 100%;
        height: 62px;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
    }

    #nav div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 5px;
    }
    
    #img-wrapper {
        width: 100%;
        max-width: 40px;
        height: auto;
        margin-left: 10px;
    }

    #nav-bar {
        margin: 0;
        overflow: hidden;
    }

    /*form input setup*/

    #form {
        border: none;
        background-color: rgba(128, 128, 128, .1);
        padding: 1px;
    }
    
    #form #email{
        outline-offset: none;
        outline-style: none;
        border-bottom: none;
    }
    
    #form #submit {
        background-color: rgb(124, 192, 23);
        padding: 2px;
        border-radius: 3px;
    }
    
    /*form setup end*/
    
    #main {
        margin-top: 60px;
        width: 100vw;
        height: auto;
        background-color: inherit;
    }
    
    #intro {
        padding: 5px;
        text-align: left;
        display: block;
        width: 100%;
        height: 100%;
    }
    
    #intro header {
        margin: 60px;
        font-weight: 400;
        text-align: center;
        font-size: 2em;
    }
    
    #intro ul {
        list-style-type: none;
        width: 90%;
        margin: 0 auto;
    }
    
    #intro li{
        color: black;
        margin-top:25px;
        font-weight: 400;
        font-size: 1em;
    }
    
    #intro .strong {
        font-weight: 400;
        font-size: 1.5em;
        color: orangered;
    }
    
    .min-header{
        font-weight: 400;
        font-size: 1.3em;
        margin: 45px;
    }
    
    #video-wrapper iframe {
        margin-top: 50px;
        display: block;
        width: 100%;
        height: 100vh;
    }
    
    article {
        font-weight: 200;
        font-size: 1.1em;
        margin: 45px;
    }
    
    /*items setup section*/
    
    #items-content {
        width: 100%;
        height: 50%;
        background-color: inherit;
    }
    
    #items-content ul li{
        display: block;
        background-color: white;
        margin-top: 0;
        padding: 50px;
    }
    
    #items-content ul li span{
        display: block;
        padding: 0;
        margin: 0 auto;
    }
    
    #items-content ul li span:nth-of-type(2){
        background-color: unset;
        width: 70%;
        height: auto;
        text-align: center;
        margin-bottom: 5px;
    }

    #items-content ul li:nth-child(even){
        background-color: inherit;
    }
    
    #items-content img {
        display: block;
        max-width: 70%;
        margin: 0 auto;
    }
    
    #items-content p {
        display: none;
    }
    
    #items-content span button{
        background-color: unset;
        width: 100%;
        height: 30px;
        border: 1px solid orangered;
        border-radius: 3px;
        margin: 5px;
        cursor: pointer;
    }
    #items-content span button:hover {
       background-color: orangered;
    }
}
